<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" id="signup-form">
            <h2>Let's track down! Signup here</h2>
            <input type="text" id="first-name" placeholder="Enter you First Name:"><br>

            <input type="text" id="last-name" placeholder="Enter you Last Name:"><br>

            <input type="email" id="email" placeholder="Enter you Email:"><br>

            <input type="password" id="password" placeholder="Create a password"><br>

            <button type="Submit" id="btn">Signup!</button>
        </form>
    </div>
    <script src="/js/signup.js"></script>

</body>
</html>